
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#root {
  margin: auto;
  padding: 0;
}
.nav-title{
  font-style:oblique;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center; 
  margin-bottom: 50px;
  background-color: rgba(157, 151, 151, 0.326);
}

.navbar-nav {
  width:50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-item{
  font-size: 20px;
  font-weight: bold;
  
}

.nav-item:hover{
  color: gray;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: flex-end;
  padding-bottom: 0;
  background-color: rgba(157, 151, 151, 0.326);
}

.c{
  margin-right: 25px;
}

.place-img {
  height: 200px;
  width: 22em;
  object-fit: cover;
  border-radius: 0.3em;
  
}
.place-img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.places-list {
  display: flex;
  flex-direction: column;
  padding: 4em 3em;
}

.place {
  display: flex;
  flex-direction: row;
  padding: 2em 0;
}

.place-infos {
  margin-left: 1em;
  padding: 0.5em;
}

.place-location {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0 1em 0 0.25em;
  color: gray;
}

.place-location-url {
  color: gray;
  font-size: 0.75rem;
}

.place-title {
  font-size: 2rem;
  margin: 0.25em 0;
  font-weight: 700;
}

.place-description {
  max-width: 50rem;
  margin-top: 11px;
}

@media(max-width:850px){
  .place{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}